Note: if you having trouble displaying the maps try running jupyter nbextension enable --py gmaps in your environment and retry.


Create a heat map that displays the humidity for every city from the part I of the homework.

Narrow down the DataFrame to find your ideal weather condition. For example:


A max temperature lower than 80 degrees but higher than 70.


Wind speed less than 10 mph.


Zero cloudiness.


Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.


Note: Feel free to adjust to your specifications but be sure to limit the number of rows returned by your API requests to a reasonable number.




Using Google Places API to find the first hotel for each city located within 5000 meters of your coordinates.


Plot the hotels on top of the humidity heatmap with each pin containing the Hotel Name, City, and Country.

In [1]:
# Dependencies
import requests
import json

# Google developer API key
from api_keys import g_key

In [10]:
#import dataframe weather1_data from 1st part of assignment (WeatherPy.ipynb)
%store -r weather1_data
#drop duplicate cities (same data)
weather1_data=weather1_data.drop_duplicates(subset=["City Name"])
weather1_data

,City Name,Latitude,Longitude,Temperature,Latitude Humidity,Cloudiness,Wind Speed
1,hithadhoo,-20.841587,85.603908,82.76,68.0,77.0,3.94
2,sao filipe,13.293488,-34.982080,75.88,60.0,0.0,6.08
4,bluff,-71.214122,172.363302,57.00,84.0,64.0,18.01
5,saint-philippe,-48.409808,62.306578,75.02,65.0,47.0,4.61
6,norman wells,68.737352,-120.152631,-13.00,77.0,90.0,3.51
...,...,...,...,...,...,...,...
486,gravdal,70.454049,13.348788,24.80,74.0,75.0,5.75
488,souillac,-51.565186,73.401185,82.40,74.0,40.0,6.91
495,ous,61.793925,61.297353,-17.07,88.0,100.0,6.85
496,qasigiannguit,66.282569,-48.212406,19.40,42.0,75.0,9.22
499,namatanai,4.905919,157.079683,80.69,76.0,80.0,4.45

In [12]:
#Narrow down ideal conditions of city

#Ideal temperature Range (in Farenheit)
ideal_min_temp=70 
ideal_max_temp=80
#Ideal wind speed: speed less than... (in mph)
ideal_max_speed=3
#Ideal cloudiness: cloudiness less than... (%)
ideal_cloudiness=25

ideal_df=weather1_data[(weather1_data["Temperature"]>=ideal_min_temp) & (weather1_data["Temperature"]<=ideal_max_temp) & (weather1_data["Wind Speed"]<=ideal_max_speed) & (weather1_data["Cloudiness"]<=ideal_cloudiness)]
ideal_df

#Dataframe sorted ascending by least windy city.
idealbylowwind_df=ideal_df.sort_values(by="Wind Speed", ascending=True)
idealbylowwind_df

,City Name,Latitude,Longitude,Temperature,Latitude Humidity,Cloudiness,Wind Speed
117,pisco,-24.358740,-96.527155,72.79,73.0,0.0,1.14
14,puerto ayora,-11.683789,-104.103328,75.99,95.0,16.0,1.99
253,hadgaon,19.437249,77.936485,77.04,26.0,0.0,2.35
227,mapastepec,14.809307,-93.248545,77.83,55.0,7.0,2.66