SCATTERPLOTS

Your first requirement is to create a series of scatter plots to showcase the following relationships:

Temperature (F) vs. Latitude
Humidity (%) vs. Latitude
Cloudiness (%) vs. Latitude
Wind Speed (mph) vs. Latitude


To generate a random float number between any two numbers, we can use random.uniform(start,stop)

In [17]:
#Dependencies
import requests 
import json
from pprint import pprint
from api_keys import weather_api_key
from citipy import citipy
import random
import pandas as pd

In [21]:
#####TEST (PERTH CITY) to see json info, and define variables to extract for y-axis: Temperature(F), Latitude Humidity, Cloudiness, Windspeed, x-axis: Latitude####

#Request and get URL, and transform to JSON. 
#For units, use "imperial" as farenheit has been requested in project.
deg="\xb0" #degree sign
city="Sydney"
units="imperial"
url=f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={weather_api_key}&units={units}"
######Define variable "weather" and read the json file
weather=requests.get(url).json()
####Print the output of JSON formatted
#print(json.dumps(weather, indent=4, sort_keys=True))

####VARIABLES AND ITS VALUES FOR Y-AXIS###
#if set to imperial, units as follows
#Temp (F) 
print(weather["main"]["temp"], "Farenheit")
#Latitude Humidity
print(weather["main"]["humidity"], "% Humidity")
#Cloudiness (%)
print(weather["clouds"]["all"], "% Cloudiness")
#Windspeed (miles/hr)
print(weather["wind"]["speed"], "miles/hr")
# print("miles/hr")
####VARIABLES AND ITS VALUES FOR X-AXIS###
#latitude
print(weather["coord"]["lat"],deg,"latitude")
###OTHER VARIABLES####
#longitude
print(weather["coord"]["lon"],deg,"longitude")

82.02 Farenheit
51 % Humidity
0 % Cloudiness
20.71 miles/hr
-33.8679 째 latitude
151.2073 째 longitude

In [27]:
########JSON DATA #########
#base_url
base_url="http://api.openweathermap.org/data/2.5/weather?"

#######################

# # Get latitude and temperature for cities
# cities = ["Paris", "London", "Oslo", "Beijing", "Mumbai", "Manila", "New York", "Seattle", "Dallas", "Taipei"]

#Set up empty lists (for filling in in the for loop). Avoid using variables with same names as in API
 # Latitude, Longitude, Temperature(F), Latitude Humidity, Cloudiness, Windspeed
lat_list=[] #Latitude (째)
long_list=[] #Longitude (째)
city_list=[] #city name
temp_list=[] #Temperature(F)
lat_hum_list=[] #Latitude Humidity
cloud_list=[] #Cloudiness
winds_list=[] #windspeed

for x in range(10):
    #Random pick of latitude between -90 and 90 deg
    #Save latitudes into list "lat_list" 
    latitude=random.uniform(-90,90)
    lat_list.append(latitude)
    #Random pick of latitude between -180 and 180 deg
    #Save latitudes into list "lat_list" 
    longitude=random.uniform(-180,180)
    long_list.append(longitude)
    #Find the nearest city based on the random latitude and longitude variable
    city=citipy.nearest_city(latitude, longitude).city_name
    city_list.append(city)

    ####FOR THE CITY (in each loop), find variable values via JSON Data
    #Variable for query url. "imperial":farenheit, "metric":celcius, "":kelvin. 
    #Use "imperial" as farenheit has been requested in project.
    units="imperial"
    print(city)
    #query url
    query_url=f"{base_url}appid={weather_api_key}&units={units}&q={city}"
    ######Define variable "weather" and read the json file
    weather=requests.get(query_url).json()
    #Find temperature(F)
    temperature=weather["main"]["temp"]
    temp_list.append(temperature)
    #Find latitude humidity (%)
    lat_hum=weather["main"]["humidity"]
    lat_hum_list.append(lat_hum)
    #Cloudiness (%)
    cloud=weather["clouds"]["all"]
    cloud_list.append(cloud)
    #Windspeed (miles/hr)
    winds=weather["wind"]["speed"]
    winds_list.append(winds)


    # #Request and get URL, and transform to JSON. 
    # #For units, use "imperial" as farenheit has been requested in project.
    # deg="\xb0" #degree sign
    # city="London"
    # units="imperial"
    # url=f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={weather_api_key}&units={units}"
    # ######Define variable "weather" and read the json file
    # weather=requests.get(url).json()

print(lat_list)
print(long_list)
print(city_list)
print(temp_list)
print(lat_hum_list)
print(cloud_list)
print(winds_list)

#Create a dataframe from the lists created 
weather_dict={
    "City Name":city_list, 
    "Latitude":lat_list, 
    "Longitude":long_list,
    "Temperature": temp_list,
    "Latitude Humidity": lat_hum_list,
    "Cloudiness": cloud_list,
    "Wind Speed": winds_list
    }

weather_data = pd.DataFrame(weather_dict)
weather_data

hermanus
manzanillo
ushuaia
yellowknife
kavaratti
rio gallegos
punta arenas
santo domingo
castro
kodiak
[-57.29087796232564, 14.727547862288219, -74.27174930218118, 84.65698234965714, 12.13994567131489, -50.83070094054445, -57.77477006544692, 18.317299758685294, -53.46791438488948, 55.416503980663066]
[8.16525682888232, -106.51865688961632, -62.13714985722454, -101.17259987253478, 67.50468716581926, -65.16661192825329, -86.3053184593047, -69.79661490154669, -96.76738392529457, -153.21579218518656]
['hermanus', 'manzanillo', 'ushuaia', 'yellowknife', 'kavaratti', 'rio gallegos', 'punta arenas', 'santo domingo', 'castro', 'kodiak']
[82, 68.61, 42.8, -29.09, 82.09, 46.4, 42.4, 73.09, 62.33, 41]
[60, 93, 81, 75, 68, 71, 81, 94, 97, 93]
[3, 8, 20, 1, 2, 0, 0, 40, 100, 90]
[3, 10.56, 9.22, 3.44, 8.21, 5.75, 19.57, 4.61, 7.7, 9.22]

,City Name,Latitude,Longitude,Temperature,Latitude Humidity,Cloudiness,Wind Speed
0,hermanus,-57.290878,8.165257,82.00,60,3,3.00
1,manzanillo,14.727548,-106.518657,68.61,93,8,10.56
2,ushuaia,-74.271749,-62.137150,42.80,81,20,9.22
3,yellowknife,84.656982,-101.172600,-29.09,75,1,3.44
4,kavaratti,12.139946,67.504687,82.09,68,2,8.21
5,rio gallegos,-50.830701,-65.166612,46.40,71,0,5.75
6,punta arenas,-57.774770,-86.305318,42.40,81,0,19.57
7,santo domingo,18.317300,-69.796615,73.09,94,40,4.61
8,castro,-53.467914,-96.767384,62.33,97,100,7.70
9,kodiak,55.416504,-153.215792,41.00,93,90,9.22

Your second requirement is to run linear regression on each relationship, only this time separating them into Northern Hemisphere (greater than or equal to 0 degrees latitude) and Southern Hemisphere (less than 0 degrees latitude):

Northern Hemisphere - Temperature (F) vs. Latitude
Southern Hemisphere - Temperature (F) vs. Latitude
Northern Hemisphere - Humidity (%) vs. Latitude
Southern Hemisphere - Humidity (%) vs. Latitude
Northern Hemisphere - Cloudiness (%) vs. Latitude
Southern Hemisphere - Cloudiness (%) vs. Latitude
Northern Hemisphere - Wind Speed (mph) vs. Latitude
Southern Hemisphere - Wind Speed (mph) vs. Latitude

#Create dataframe for northern hemisphere cities using boolean, test latitude > 0 degrees
#Create dataframe for northern hemisphere cities using boolean, test latitude < 0 degrees

#Plot a scatter graph and do the linear regression (line of best fit and Pearson's r value)

In [30]:
#Create dataframe from main dataframe "weather_data" and filter for only northern hemisphere city data (Latitude>0 degrees)
north_df=weather_data[weather_data["Latitude"]>0]
north_df

,City Name,Latitude,Longitude,Temperature,Latitude Humidity,Cloudiness,Wind Speed
1,manzanillo,14.727548,-106.518657,68.61,93,8,10.56
3,yellowknife,84.656982,-101.172600,-29.09,75,1,3.44
4,kavaratti,12.139946,67.504687,82.09,68,2,8.21
7,santo domingo,18.317300,-69.796615,73.09,94,40,4.61
9,kodiak,55.416504,-153.215792,41.00,93,90,9.22

In [32]:
#Create dataframe from main dataframe "weather_data" and filter for only southern hemisphere city data (Latitude<0 degrees)
south_df=weather_data[weather_data["Latitude"]<0]
south_df

,City Name,Latitude,Longitude,Temperature,Latitude Humidity,Cloudiness,Wind Speed
0,hermanus,-57.290878,8.165257,82.00,60,3,3.00
2,ushuaia,-74.271749,-62.137150,42.80,81,20,9.22
5,rio gallegos,-50.830701,-65.166612,46.40,71,0,5.75
6,punta arenas,-57.774770,-86.305318,42.40,81,0,19.57
8,castro,-53.467914,-96.767384,62.33,97,100,7.70